NO_COLOR='\033[0m'
YELLOW='\033[0;33m'

export TF_VAR_email="workshop-user@iits-consulting.de"
export TF_VAR_context="summit"
# Dockerhub credentials
export TF_VAR_dockerhub_username="iits"

#informations from the credentials e-mail
export OS_USERNAME="summit" # See E-Mail with credentials (OS_USERNAME)

export TF_VAR_region="eu01"
export REGION=$TF_VAR_region
export TF_VAR_stage="dev"
export TF_VAR_domain_name="${TF_VAR_context}.stackit.iits.tech"

source ./my-secrets.sh

source ./stackit-login.sh